<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg"
    />
    <link rel="stylesheet" href="../css/aboutus.css" type="text/css" />
  </head>
  <body>
    <header>
        <img src="../logo.svg" class="logo" />
        <input type="checkbox" class="nav-toggle" id="nav-toggle" />
        <nav>
          <ul>
            <li><a href="./aboutus.html">About Us</a></li>
            <li><a href="">In-app Credits</a></li>
            <li><a href="">Store</a></li>
            <li><a href="./login.html">Account</a></li>
          </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
        </label>
      </header>

    <section class="page-section" id="about">
      <div class="container">
        <div class="text-center">
          <h1 class="section-heading text-uppercase" style="font-size: 5rem">
            About Us
          </h1>
        </div>
        <ul class="timeline">
          <li>
            <div class="timeline-image"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h2 class="subheading">Our Vision</h2>
              </div>
              <div class="timeline-body">
                <h3 class="text-muted">
                  The KUPON is a great way to make the most out of your unused
                  coupons. With its secure and safe platform, it has the
                  potential to become even more popular in the future.
                </h3>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h2 class="subheading">Why ?</h2>
              </div>
              <div class="timeline-body">
                <h3 class="text-muted">
                  There are days when you run low on budget and you require that
                  extra savings , that's where KUPON kicks in.It is an interface
                  which will provide you with the exact coupon which one needs.
                </h3>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h2 class="subheading">Benefits</h2>
              </div>
              <div class="timeline-body">
                <h3 class="text-muted">
                  Many payment gateways give coupons on the usage, study has
                  shown that they do market basket analysis on the previous
                  purchases and provide you with the coupons that are just
                  almost related or is not required by you as of now.
                </h3>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-image">
                <h3 style="margin-top: 3rem;">
                  Stay
                  <br />
                  Tuned!
                </h3>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
