<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stores</title>
    <link rel="stylesheet" href="../css/store.css" type="text/css" />
  </head>
  <body>
 
    <script>
      const stores = [
        {
          id: 1,
          title: "Flipkart",
          logo: "../js/storesIcons/flipkart.png",
          website: "www.flipkart.com",
        },

        // {
        //   id: 2,
        //   title: "Amazon",
        //   logo: "../js/storesIcons/amazon.png",
        //   website: "www.amazon.com",
        // },
      ];

      stores.map((curr) => {
        <div class="wrapper">
          <div class="head"></div>
          <div class="blue"></div>
          <div
          class="logo"
          style="background-image: {stores.logo};"
          ></div>
          <div class="content">
            <h3>Google IT Support</h3>
            <p>Google</p>
            </div>
            <div class="bottom">Professional Certificate</div>
            </div>;
          });
          </script>
        </body>
</html>
